!!!
%html
  %head
    %title #{full_title(yield(:title))}
    =render 'layouts/head'
  %body
    = render 'layouts/header'
    .container
      = yield
      = render 'layouts/footer'
      = debug(params) if Rails.env.development?
