!!!
%html
  %head
    %title #{full_title(yield(:title))}
    =render 'layouts/head'
  %body
    = render 'layouts/header'
    %p.notice<
      = notice
    %p.alert<
      = alert
    = yield
    = render 'layouts/footer'
